@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.card {
  margin: auto;
  color: brown;
  background-color: antiquewhite;
  border-color: black;
}

.image-small {
  width: 50px;
  height: auto;
}
